@import url('https://fonts.googleapis.com/css?family=Roboto');
.container{
  font-family: sans-serif;
  width: 1280px;
  margin: 0 auto;
}
.head-block{
  width:1280px;
  height:790px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.nav-bar{

}

.nav-bar-menu {
padding-top: 32px;
padding-bottom: 35px;
text-align:center;
}

.nav-bar-link {
 margin: 0px 30px;
  font-size: 18pt;
  color: rgba(41, 241, 195, 1);
  
 }
 .text-block{
  padding-top: 17px;
   font-size: 16pt;
   text-align:center;
   padding-bottom: 17px;
 }
.basic-block-title{
  margin-top: 56px;
  margin-bottom: 34px;
  font-size: 22pt;
  text-align:center;
}

.box{
margin-left: 527px;
margin-top: 41px;
background-color:  white;
width: 192px;
height: 51px;
}

.text-block1{
text-align: center;
padding-top: 23px;
font-size: 12pt;
padding-bottom: 23px;
padding-left: 33px;
padding-right: 33px;
color: rgba(255, 255, 255, 255);
background-color: #16a085;
border-radius: 5px;
}

.text-block2{
margin-top: 141px;
margin-bottom: 45px;
margin-left: 768px;
font-size:16pt;
}
